.reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;

  .form-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;

    h3 {
      text-align: center;
      margin-bottom: 15px;
    }

    .input-group {
      margin-bottom: 1rem;
      border-radius: 7px;
      border: 1px solid #ffb332;

      .icon-box {
        border: none;
      }

      input {
        border: none;
        &:focus {
          box-shadow: none !important;
          border-color: inherit !important;
          background-color: white !important;
        }
      }
    }

    .password-requirements {
      list-style: none;
      padding-left: 0;
      font-size: 0.7rem;

      li {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
      }

      .valid {
        color: green;
      }

      .invalid {
        color: red;
      }
    }

    .reset-btn {
      width: 100%;
      background-color: #ffb332;
      border: none;
      padding: 0.8rem;
      font-size: 1rem;
      font-weight: bold;
      margin-top: 1rem;
      border-radius: 5px;

      &:hover {
        background-color: #f3ad36;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}

// Responsive Styles
@media (max-width: 768px) {
  .reset-password {
    padding: 1rem;

    .form-container {
      padding: 1.5rem;
      width: 90%;
    }
  }
}
